<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Choose the Hero</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="form-container">
    <h1>Choose the Hero</h1>
    <form action="/" method="post" autocomplete="off">
      <input type="text" id="heroNameInput" name="heroName" placeholder="Enter hero name" required />
      <div id="suggestions"></div>
      <button type="submit">Show Hero</button>
    </form>
  </div>

<script src="/js/searchForHero.js"></script>
</body>
</html>
